project_id    = "trading-dev-494000"
monitor_image = "us-east4-docker.pkg.dev/trading-dev-494000/rpc-latency-monitor/rpc-latency-monitor:latest"
doppler_token = "dp.st.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

locations = {
  "us-east4"        = "us-east4-b"      # us-east (Ashburn)
  "us-west2"        = "us-west2-b"      # us-west (Los Angeles)
  "europe-west2"    = "europe-west2-b"  # eu-west (London)
  "europe-west3"    = "europe-west3-b"  # eu-east (Frankfurt)
  "asia-northeast3" = "asia-northeast3-b" # Seoul (Dubai alt: me-central1-a)
  "asia-northeast1" = "asia-northeast1-b" # Tokyo
  "asia-southeast1" = "asia-southeast1-b" # Singapore
}
