project_id    = "rpc-latency-monitor"
monitor_image = "ghcr.io/solana-foundation/rpc-latency-monitor:latest"
doppler_token = "dp.st.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

locations = {
  "us-east1"        = "us-east1-b"
  "europe-west3"    = "europe-west3-b"
  "asia-northeast1" = "asia-northeast1-b"
}
